{% extends "base.html" %}
{% block body %}
    <main class="container">

        <h1>ScanEV - Extracellular Vesicle Scanner</h1>
        <p></p>
        <p>
            Extracellular vesicles (EVs) are small particles surrounded by a lipid bilayer. Most cells are capable of
            secreting EVs. They carry cargos between cells and play roles in diverse processing from embryo development
            to injury response, and from angiogenesis to disease progression.
            The typical size of EVs is in the range from 50-1000 nm, and TEM is the most convenient instrument for their
            visualization. When analyzed by conventional TEM with heavy metal staining, most EVs exhibit a
            characteristic cup-shaped morphology. Here you can automatically detect and measure EVs in your images
        </p>
        <img src="{{ url_for('static', filename='sample_vis.jpg') }}" alt="Result image">
        <p>
            Detection is based on the Mask R-CNN. Each particle is identified, labeled, and measured. The green
            lines show the
            detected edges of the particles, and the red lines show the ellipses used for approximation.
        </p>

        <img src="{{ url_for('static', filename='table.png') }}" alt="Result table">

        <p>The measurement results are stored in a .csv file with the following parameters:</p>
        <ul>
            <li>Name – the file name</li>
            <li>Id – the particle number</li>
            <li>Score – the score of the particle, which is an estimate of the probability that this particle is a
                vesicle
            </li>
            <li>Area – particle area, measured in pixels</li>
            <li>Perimeter – particle perimeter, measured in pixels</li>
            <li>Roundness – a value in the range from 0 to 1, a measure of the particle roundness, calculated as
                Roundness = 4π(S/p<sup>2</sup>)
            <li>Ellipse_area, a, b, and a+b are four parameters related to the ellipse approximating the detected
                particle. The values a and b are the semi-axes of the ellipse, and a+b is a relevant estimate of the
                particle size. All the parameters measured in pixels
            </li>
            <li>On_edge – a Boolean parameter indicating whether the particle touches the edge of the image</li>
        </ul>

        <p>The service is currently running in a virtual machine environment with 4 CPUs (4 cores from host CPU AMD
            Opteron 6272) and 8Gb of RAM.
            Processing ten images typically takes 1.5-2.5 minutes.</p>

        <p>Dataset and code available <a
                href="https://github.com/High-resolution-microscopy-laboratory/exosomes">here</a></p>
        <p></p>

        <h2>Legal Statement </h2>
        <i>Last updated: November 7, 2020</i>
        <p></p>
        <p>While using this tool, we don’t ask you to provide us personally identifiable information, as well as any
            information about your images. We do not use Cookies or similar tracking technologies to track the activity
            on our tool.</p>

        <p>After you upload your images, you will get a unique link, which can be used to access the results of the
            processing. This link will be available for at least a month; we cannot guarantee the storage of your images
            for a longer period. We do not use the uploaded images for any purposes.</p>

        <p>This tool is provided free of charge. If you use it, please cite as
            Igor Nikishin, Ruslan Dulimov, Gleb Skryabin, Sergey Galetsky, Elena Tchevkina, Dmitry Bagrov “The neural
            network-based online tool for the automated detection of extracellular vesicles in TEM images” // Micron,
            2020</p>

        <p>We make the greatest efforts for the maintenance of this online tool, however, can not guarantee the absence
            of technical failures. We do not take any responsibility for any incorrect use of our tool, as well as any
            results obtained with the help of this tool.</p>

        <p>Contact information</p>
        <p>We appreciate any comments and questions about Bioeng.ru/exosomes and its functions. You can contact us by
            email: bagrov@mail.bio.msu.ru</p>
        <p></p>
        <h1>License</h1>
        <p>
        We provide our software via the MIT License, which is a permissive license with minimum restrictions.
            The core of our tool is <a href="https://github.com/matterport/Mask_RCNN">Mask R-CNN</a>, which is also distributed via the MIT License.
        The License is available <a href="https://raw.githubusercontent.com/High-resolution-microscopy-laboratory/exosomes/master/LICENSE">here</a>.
        </p>
        <p></p>
        <p><span class="text-muted">This work was supported by RFBR, project №19-34-90148.</span></p>
        <p></p>

    </main>
{% endblock %}