{% extends "base.html" %}
{% block body %}
    <main role="main" class="container">

        <h1>ScanEV - Extracellular Vesicle Scanner</h1>
        <p>Upload up to {{ max_uploads }} images for detection<br> Supported 8 and 16 bit images in formats: png, jpg,
            jpeg, tif, tiff</p>
        <p>Processing ten images typically takes 1.5-2.5 minutes</p>
        <p><a id="upload"></a></p>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"
              class="form-inline"
              id="upload-form">
            <div class="form-group">
                <input type="file" accept="image/*" name="files" id="files" class="form-control-file, text-center"
                       multiple/>
                <button type="submit" value="Upload Image" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div class="text-center" id="spinner" style="display:none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <p>
        <p><span class="text-muted">This work was supported by RFBR, project №19-34-90148.</span></p>
        <p></p>
    </main>
    <script>
        (function () {

            let spinner = document.getElementById('spinner')

            document.addEventListener('submit', e => {

                spinner.style.display = 'block'

                const form = e.target;
                form.style.display = 'none'

                fetch(form.action, {
                    method: form.method,
                    body: new FormData(form)
                })
                    .then(res => {
                        window.location.replace(res.url)
                    })
                    .catch(err => {
                        form.style.display = 'block'
                        spinner.style.display = 'none'
                    });

                e.preventDefault();

            });
        })();
    </script>
{% endblock %}
